/* font  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/* root  */
:root {
    --blue: #2A004E;
    --dark-blue: #500073;
    --dark-red: #C62300;
    --red: #F14A00;
    --half-white: #e2d4d4d9;
}

/* global css  */
* {
    font-family: "Fira Sans", serif;
}

.navigation {
    z-index: 120;
    padding: 5px 0 5px 0px;
    background-color: var(--dark-blue) !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 30px;
    z-index: 120;
    box-shadow: var(--dark-blue) 0px 10px 36px 0px, var(--dark-blue) 0px 0px 0px 1px;
}

.navigation .navigation-email-mobile {
    color: var(--red);
    font-size: 16px;
    padding-bottom: 0;
}

.navigation .navigation-menu-button {
    border-color: var(--red);
}

.navigation .navigation-menu-button:focus {
    box-shadow: var(--red);
}

.navigation .navigation-email-mobile a {
    text-decoration: none;
}

.navigation .carousel-item {
    height: 100% !important;
}

.navigation a {
    color: rgb(210, 188, 188);
    display: inline-block;
    margin-left: 5px;
    border-radius: 5px;
}

.navigation a:hover {
    color: var(--dark-red);
}

.navigation a:focus {
    color: var(--dark-red);
}

.navigation a:first {
    margin-left: 0 px;
}

.hero {
    height: 100vh;
    /* padding-top: 50px; */
    padding: 50px 80px 20px 80px;
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.hero::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    opacity: 0.4;
}

.hero .hero-img-wrapper {
    display: none;
}

.hero .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    /* z-index: 2; */
}

.hero .main-title {
    background-color: var(--dark-blue);
    padding: 20px 20px 20px 46px;
    border-radius: 10px;
    opacity: 0.6;
    /* box-shadow: var(--dark-red) 0px 8px 24px; */
    box-shadow: var(--dark-red) 0px 4px 12px;
    margin-bottom: 12px;
    position: relative;
}

.hero .main-title>span.hi {
    position: absolute;
    top: -34px;
    left: -17px;
    font-size: 25px;
    color: var(--blue);
    padding: 10px;
    background: var(--red);
    border-radius: 100%;
    box-shadow: var(--dark-red) 0px 8px 24px;
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    line-height: 100%;
    align-items: center;
}

.hero .hero-title h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.hero .sub-title {
    padding: 6px;
}

.hero .sub-title h2 {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

.hero .sub-title .data-analyst {
    display: inline-block;
    padding: 10px 20px;
    background: var(--red);
    color: white;
    border-radius: 5px;
    opacity: 0.9;
    font-style: italic;
    background: rgb(42, 0, 78);
    background: linear-gradient(90deg, rgba(42, 0, 78, 0.9360556722689075) 0%, rgba(80, 0, 115, 1) 35%, rgba(42, 0, 78, 1) 100%);
}

.intro {
    padding: 30px 80px 20px 80px;
    overflow: hidden;
    min-height: 400px;
    background-color: var(--dark-blue);
}

.intro .intro-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}

.intro .intro-para {
    line-height: 26px;
    text-align: justify;
    color: var(--half-white);
}

.intro .intro-img {
    border: none;
    background-color: var(--dark-blue);
}

.intro .intro-img img {
    height: 400px;
    object-fit: contain;
}

.skills {
    padding: 30px 80px 20px 80px;
}

.skills .skill-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}

.skills .skill-card {
    overflow: hidden;
}

.skills .skill-icon-wrapper {
    background-color: var(--dark-blue);
    color: var(--dark-red);
}

.skills .skill-card i {
    font-size: 25px;
    color: var(--half-white);
}

.skills .skill-card-title {
    margin: 0;
}

.experience {
    padding: 30px 80px 20px 80px;
    position: relative;
}

.experience .experience-fancy-line {
    position: absolute;
    top: 102px;
    left: 78px;
    height: 82%;
    width: 3px;
    background-color: var(--blue);
}

.experience .experience-circle {
    font-size: 20px;
    color: var(--red);
    position: absolute;
}

.experience .experience-circle-1 {
    top: 95px;
    left: 69px;
}

.experience .experience-circle-2 {
    top: 431px;
    left: 69px;
}

.experience .experience-circle-3 {
    display: none;
}

.experience .experience-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}

.experience .experience-pos-dur-comp {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
}

.experience .experience-pos-dur-comp>h6 {
    color: var(--dark-blue);
    font-size: 19px;
    font-weight: bold;
}

.experience .experience-sec {
    padding-left: 17px;
    position: relative;
}

.experience .experience-respo-list {
    list-style: none;
}

.experience .experience-respo-list>li {
    position: relative;
    display: block;
}

.experience .experience-respo-list>li::before {
    content: "\f26a";
    font-family: bootstrap-icons !important;
    display: inline-block;
    font-size: 18px;
    position: absolute;
    top: -2px;
    left: -28px;
    color: var(--red);
}

.education {
    padding: 30px 80px 20px 80px;
    position: relative;
}

.education .education-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);

}

.education .education-degree-uni h5 {
    margin-bottom: 0px;
    color: var(--blue);
}

.certifications {
    padding: 30px 80px 20px 80px;
    position: relative;
}

.certifications .certifications-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}

.certifications .certifications-card img {
    height: 183px;
    object-fit: cover;
}

.certifications .certifications-card {
    min-height: 420px;
    margin-bottom: 15px;
}

.certifications .cerfication-course-title {
    color: var(--blue);
}

.certifications .cerfication-focus-areas {
    color: var(--red);
}

.certifications .certifications-card ul {
    margin: -5px;
}
.projects {
    padding: 30px 80px 20px 80px;
    position: relative;
}
.projects .projects-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}
.projects .projects-card{
    min-height:  320px;
}
.projects .projects-card-img-wrapper{
    text-align: center;
}
.projects .projects-card .card-title{
    color: var(--dark-blue);
}
.projects .projects-card a,i{
    color: var(--red);
}
.hobbies {
    padding: 30px 80px 20px 80px;
    position: relative;
}

.hobbies .hobbies-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 12px;
    border-left: 8px solid var(--dark-red);
    padding-left: 12px;
    color: var(--red);
}
.hobbies .hobbies-card{
    border-color: var(--red) !important;
}
.hobbies .hobbies-card .card-body{
    text-align: center;
}
.hobbies .hobbies-card .card-header{
    font-weight: bold;
    color: var(--half-white);
    background-color: var(--dark-blue);
}
.hobbies .hobbies-card img{
    width: 50px;
}
.social-links{
    background-color: var(--red);
    padding: 20px 80px 20px 80px;
}
.social-links .social-links-title{
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    color: var(--blue);
    margin-bottom: 10px;
    font-weight: 500;
}
.social-links .social-links-list ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.social-links .social-links-list ul li{
    display: inline-block;
    margin: 0 8px;
}
.social-links .social-links-list ul li a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 17px;
    border-width: 2px;
    border-style: solid;
    transition: all 0.5s;
}
.social-links .social-links-list ul li a:hover{
    border-color: var(--half-white);
}
.social-links .social-links-list ul li i{
    color: white;
    padding:0 !important;
}

/* media queries  */
@media(max-width:990px) {
    .hero .main-title {
        padding: 20px;
    }

    .hero .hero-title h1 {
        font-size: 40px;
    }

    .navigation .navigation-menu li {
        border-left: 5px solid var(--dark-blue);
        display: block;
        margin-bottom: 5px;
        transition: all 0.5s;
    }

    .navigation .navigation-menu li:hover {
        border-left-color: var(--dark-red);
    }

    .intro .intro-img {
        height: 500px;
        margin-bottom: 14px;
    }

    .intro .intro-img img {
        object-fit: contain;
        height: 100%;
    }

    .experience .experience-circle-2 {
        top: 336px;
    }

    .experience .experience-circle-3 {
        display: inline-block;
        top: 654px;
        left: 69px;
    }
}

@media(max-width:650px) {
    .hero {
        padding: 30px 29px 20px 29px;
        height: calc(100vh - 20vh);
    }

    .hero .hero-title h1 {
        font-size: 30px;
    }

    .hero .sub-title h2 {
        font-size: 20px;
    }

    .intro,
    .skills,
    .experience,
    .education,
    .certifications,
    .hobbies,.social-links {
        padding: 30px 29px 20px 29px
    }

    .intro .intro-title,
    .skills .skill-title,
    .experience .experience-title,
    .education .education-title,
    .certifications .certifications-title,
    .hobbies .hobbies-title {
        font-size: 34px;
    }

    .skills .skill-card {
        text-align: center;
    }

    .skills .skill-icon-wrapper {
        background: none;
    }

    .skills .skill-icon-wrapper>div {
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: var(--red);
    }

    .skills .skill-card i {
        color: var(--dark-blue);
    }

    .skills .skill-card-title {
        font-size: 18px;
    }

    .experience .experience-circle {
        left: 20px;
    }

    .experience .experience-fancy-line {
        left: 29px;
    }
    .projects .projects-card{
        min-height: auto;
    }
    .projects .projects-card-img-wrapper{
        height: 170px;
    }
    .projects-card-img-wrapper img {
        height: 100%;
    }
}

/* small screen  */
@media(max-width:550px) {
    .hero {
        height: calc(100vh - 30vh);
        padding: 62px 29px 20px 29px;
    }

    .hero .main-title {
        margin-bottom: 2px;
    }

    .hero .hero-title h1 {
        font-size: 25px;
    }

    .intro,
    .skills,
    .experience,
    .education,
    .certifications,
    .hobbies,.projects {
        padding: 17px 16px 20px 16px;
    }

    .intro .intro-title,
    .skills .skill-title,
    .experience .experience-title,
    .education .education-title,
    .certifications .certifications-title,
    .hobbies .hobbies-title ,.projects .projects-title{
        border-left: 4px solid var(--dark-red);
    }

    .experience .experience-fancy-line {
        display: none;
    }

    .experience .experience-circle {
        display: none;
    }

    .experience .experience-pos-dur-comp>h6 {
        font-size: 16px;
    }

    .experience .experience-sec {
        padding: 0;
    }

    .experience .experience-respo-list>li {
        font-size: 16px;
    }
    .certifications .certifications-card{
        min-height: auto;
    }
    .certifications .certifications-card img{
        height: 130px;
    }
    .projects .projects-card-img-wrapper img{
        object-fit: contain;
    }
    .hobbies .hobbies-card .card-header{
        text-align: center;
    }
}

/* very  small screen  */
@media (max-width:350px) {
    .navigation .navigation-email-mobile {
        font-size: 13px;
    }

    .hero {
        padding: 71px 13px 20px 13px;
        background: var(--blue);
    }

    .hero::before {
        display: none;
    }

    .hero .hero-img-wrapper {
        display: block;
        text-align: center;
    }

    .hero .hero-img-wrapper>div {
        display: block;
        width: 130px;
        height: 130px;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 13px;
        opacity: 0.8;
    }

    .hero .hero-img-wrapper>div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero .main-title {
        text-align: center;
        padding: 10px 15px;
        box-shadow: none;
        border: 2px dashed var(--red);
    }

    .hero .hero-title h1 {
        font-size: 19px;
    }

    .hero .main-title>span.hi {
        position: unset;
        box-shadow: none;
        display: inline;
        background: none;
        color: var(--half-white);
    }

    .hero .sub-title h2 {
        color: var(--dark-red);
    }

    .hero .sub-title .data-analyst {
        padding: 7px 9px;
        background: none;
    }

    .intro .intro-img {
        display: none;
    }

    .intro .intro-para {
        line-height: 21px;
        font-size: 13px;
    }

    .intro .intro-title,
    .skills .skill-title,
    .experience .experience-title,
    .education .education-title,
    .certifications .certifications-title,
    .hobbies .hobbies-title ,.projects .projects-title{
        font-size: 25px;
    }

    .experience .experience-respo-list>li,
    .education .education-subjects, .certifications .certifications-card,
    .projects .projects-card p,a,i {
        font-size: 13px;
    }
    .social-links .social-links-list ul li{
        margin: 0 2px;
    }
}

/* extra small */
@media(max-width:200px) {
    .navigation .navigation-email-mobile {
        font-size: 11px;
    }

    .hero {
        padding: 13px;
    }
}